<div class="box">
   <div class="article1">
    <h1>Article 1 - The Value of Money</h1>
    <div class="article-image">
       
   </div>
    <p class="float">Money only has value as long as people believe it has value. In our modern world fiat currency is only backed by a promise of Government's to honor the value of the currency but not by any physical backup like gold. Thus it is more or less a gentleman's agreement that our money has value. I don't think this can last forever due to inflation and other methods used to control the supply of money in the economy. But yes if you ask me what is the value of money my answer would be our paper currency has as much value as you believe it has.
    <br>
    <p style="color: #0645AD; font-weight: bold;">To support my argument here is some information from:- https://www.thoughtco.com/why-paper-momey-has-value-1146309 </p>
    
    Money doesn't have any inherent value. Unless you enjoy looking at pictures of deceased national heroes, money has no more use than any other piece of paper until, as a country and an economy, we assign value to it. At that point, it does have value, but the value isn't inherent; it's assigned and generally agreed upon by users worldwide. 

    It didn't always work this way. In the past, money generally took the form of coins composed of precious metals such as gold and silver.

    The value of the coins was roughly based on the value of the metals they contained, because you could always melt the coins down and use the metal for other purposes. Until a few decades ago paper money in different countries was based on the gold standard or silver standard or some combination of the two. This meant that you could take some paper money to the government, who would exchange it for some gold or some silver based on an exchange rate set by the government. The gold standard lasted until 1971 when President Nixon announced that the United States would no longer exchange dollars for gold. This ended the Bretton Woods system, which will be the focus of a future article. Now the United States is on a system of fiat money, which is not tied to any other commodity. So these pieces of paper in your pocket are just that: pieces of paper. 
    <br>
    So why does a five-dollar bill have value and some other pieces of paper do not?

    It’s simple: Money is a good with a limited supply and there is a demand for it because people want it. The reason I want money is because I know other people want money, so I can use my money  to get goods and services from them in return. They can then use that money to purchase goods and services they want.

    Goods and services are what ultimately matter in the economy, and money is a way that allows people to give up goods and services which are less desirable to them, and get ones that are more so. People sell their labor (work) to acquire money in the present to purchase goods and services in the future. If I believe that money will have a value in the future, I will work towards acquiring some.

    Our system of money operates on a mutual set of beliefs; so long as enough of us believe in the future value of money the system will work. What could cause us to lose that belief? It is unlikely that money will be replaced in the near future, because the inefficiencies of a dual coincidence of wants system are well known. If one currency is to be replaced by another, there will be a period in which you can switch your old currency for new currency. This is what happened in Europe when countries switched over to the Euro. So our currencies are not going to disappear entirely, although at some future time you may be trading in the money you have now for some form of money that supercedes it. </p>
    </div>
    <br>
    <div class="article2">
    <h1>Article 2 - GMO Food</h1>
    <p>GMO's are very complicated topic. GMO's gave us the power to create food and crops immune to many pests on a large scale to feed our ever growing population. Some people believe that eating GMO's are more risky than non-GMO food and this is not true as it has been proven by many scientific studies. GMO's help keep some crops and fruits grow in insect and pest ridden places. They are good for the environment as the farmer's have to use less chemicals to protect the crops. GMO's are a friend of mankind and will help us to continue growing as a civilization.</p>
    </div>
    <br class="desk-br">
    <div class="article3">
    <h1>Article 3 - The view of world in 2100</h1>
    <p>According to me the world in 2100 will be much closer and quite reliant on technology. The border's of countries will disappear making human kind come together under one government. Technology will play a huge role in bringing the world together. I expect people to have a microchip embed in their arm that has all their information, their bank and their phone. Making access to information ever more prevalent. Many of today's uncurable diseases will be eradicated and the life expectancy will increase ever more. I think humankind will make it far beyond Mar's and have colonies on several planets if not galaxies. People have very well have their summer or vacation homes on another planet. </p>
    </div>
</div>